<div class="container">
  <h2 class="d-flex justify-content-center mt-1">Select department or employees from the navigation bar</h2>
  <h4 class="d-flex justify-content-center mt-1"> This is a portal for companies to keep track on their employees</h4>
  <h4 class="d-flex justify-content-center mt-1"> This application was made by using ASP.NET, Angular 10 and SQLServer</h4>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1200px-.NET_Core_Logo.svg.png" class="m-3" style="max-width: 250px;"alt="">
  <img src="https://i.pinimg.com/originals/c7/28/0c/c7280cbc0bdd4608d6c09cd89ae9c4ca.png" class="m-5" style="max-width: 300px" alt="">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" class="" style="max-width: 300px" alt="">
</div>
